<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>bitter</title>
	<script type="application/javascript">
		function formsubmit() {
			var posts = document.getElementById("posts");
		}
	</script>
	<link rel="stylesheet" href="/static/index.css">
</head>
<body>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<ul id="post"><ul id="users"><ul id="comments">
	<form method="POST" action="/api/posts/{{ post['id'] }}" target="dummyframe">
		<input name="content" type="text" maxlength="512" id="postBox">
		<input type="submit" value="Comment" onclick="formsubmit()">
	</form>
    	<h2><b>{{ users[post['author_id']]['name'] }}</b></h2>
        <p>{{ post['content'] }}</p>
        <form method="POST" action="/api/likepost/{{ post['id'] }}" target="dummyframe">
            <p>
                <input type="submit" value="Like">
                {{ post['likes'] }}
            </p>
        </form>
		{% for x in comments %}
			<div id="{{ loop.revindex0 }}">
				<p><b>{{ users[x['author_id']]['name'] }}</b><br>{{ x['content'] }}</p>
				<form method="POST" action="/api/likepost/{{ loop.revindex0 }}" target="dummyframe">
					<p>
						<input type="submit" value="Like">
						{{ x['likes'] }}
					</p>
				</form>
			</div>
		{% endfor %}
</ul></ul></ul>
</body>