<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>bitter</title>
	<script type="application/javascript">
		function formsubmit() {
			var posts = document.getElementById("posts");
		}
	</script>
	<link rel="stylesheet" href="/static/index.css">
</head>
<body>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<form method="POST" action="/posts" target="dummyframe">
	<input name="content" type="text" maxlength="512" id="postBox"/>
	<input type="submit" value="Post" onclick="formsubmit()">
</form>
<ul id="posts">
	{% for x in posts %}
		<div id="{{ x['content'] }} - {{ x['author_id'] }}">
			<p><b>{{ x['author_id'] }}</b><br>{{ x['content'] }}</p>
		</div>
	{% endfor %}
</ul>
</body>